h1
{
            color:#7E082A;
}
p{
    color:pink;
}
h3{
    background:pink;
    colour:yellow;
}
.box
{
    background:red;
    background-image: url(1F2A3062.JPG);
    width:500px;
    margin: 50px auto;
    padding:30px;
}
#image
{
    border:10px solid red;
    border-radius: 200px;
}
